<h2>{{title}}</h2>
<!-- <app-table [transactions]="transactions"
            (rowClick)="onRowClick($event)"
            (itemSelect)="onItemSelect($event)" ></app-table> -->
<div class="dashboard-container">
    <div class="dashboard-chart" id="chartdiv" 
    [style.width.%]="50" [style.height.px]="500"></div>
    <div class="dashboard-table">
        <app-material-table 
            [source]="transactions"
            (itemSelect)="onItemSelect($event)" >
        </app-material-table>
    </div>
</div>
<router-outlet></router-outlet>