.dashboard-container{
    text-align: left;
    padding: 50px;
}

.dashboard-table{
    display: inline-block;
    height: 500px;
}

.dashboard-chart{
    display: inline-block;
}
.dashboard-date-picker{
    display: inline-block;
    padding: 50px;
}
